* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.color-picker {
  position: absolute;
  top: 20px;
  left: 10px;
  border: none;
  height: 50px;
  width: 100px;
}
.color-picker:hover {
  scale: 1.1;
}
